div.content-wrapper {
    padding: 16px 24px 24px;

    div.options-wrapper {
        margin-bottom: 8px;

        mat-form-field.filter {
            width: 50%;

            mat-icon {
                font-size: 2.2rem;
                margin-right: 6px;
            }
        }

        div.actions {
            margin-top: 4px;
            float: right;

            button[mat-button] {
                line-height: 3rem;

                mat-icon {
                    width: auto;
                    font-size: 2rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    h3 {
        font-weight: 400;
    }

    div.d-flex {
        display: flex;
        justify-content: space-between;
        justify-items: center;

        div {
            width: 48%;
        }
    }
}

/deep/ .mat-option-text {
    display: flex !important;
    justify-content: space-between;
    justify-items: center;

    mat-icon {
        line-height: inherit;
    }
}
