<form id="login" [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()">
    <h2>Password recovery</h2>
    <p>
        An email with instructions to reset your password will be emailed directly to the email address you enter.
    </p>
    <section class="fields">
        <div>
            <mat-form-field>
                <mat-icon matPrefix>alternate_email</mat-icon>
                <input matInput type="text" formControlName="email" placeholder="E-mail account" aria-label="email account">
                <mat-error class="error-message" *ngIf="passwordRecoveryForm.get('email').invalid">
                    <span *ngIf="passwordRecoveryForm.get('email').hasError('required')">Required [TODO]</span>
                    <span *ngIf="passwordRecoveryForm.get('email').hasError('email')">Must be a valid e-mail [TODO]</span>
                </mat-error>
            </mat-form-field>
        </div>
    </section>

    <section>
        <div id="server-alert" *ngIf="loginErrorMsg" class="alert alert-danger block w-100 mb-3">
            <span>
                {{ loginErrorMsg }}
            </span>
        </div>
    </section>

    <section class="submit">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a routerLink="/login">
                    <button mat-flat-button type="button">Back</button>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div [style.visibility]="waiting ? 'visible' : 'hidden'" class="spin-container animation-spin">
                    <mat-icon aria-label="loading" color="primary" class="x2">autorenew</mat-icon>
                </div>
                <button mat-flat-button type="submit" [disabled]="waiting" color="primary">Send</button>
            </div>
        </div>
    </section>
</form>
