$mat-primary: (50 : #fdebeb,
100 : #fbcece,
200 : #f9aeae,
300 : #f68d8d,
400 : #f47474,
500 : #f25c5c,
600 : #f05454,
700 : #ee4a4a,
800 : #ec4141,
900 : #e83030,
A100 : #5bb9ff,
A200 : #28a3ff,
A400 : #008bf4,
A700 : #007dda,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #ffffff,
A700 : #ffffff,
));

$mat-secondary: (50 : #f0faff,
100 : #d9f3ff,
200 : #c0ecff,
300 : #a6e4ff,
400 : #93deff,
500 : #80d8ff,
600 : #78d4ff,
700 : #6dceff,
800 : #63c8ff,
900 : #50bfff,
A100 : #ffffff,
A200 : #ffffff,
A400 : #f6fbff,
A700 : #dcf2ff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-light-accent: (50 : #fdf2ea,
100 : #fbdecb,
200 : #f8c8a8,
300 : #f5b185,
400 : #f2a16b,
500 : #f09051,
600 : #ee884a,
700 : #ec7d40,
800 : #e97337,
900 : #e56127,
A100 : #ffffff,
A200 : #fff3ee,
A400 : #ffcebb,
A700 : #ffbca1,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$mat-dark-accent: (50 : #fdfae8,
100 : #f9f3c5,
200 : #f6ec9f,
300 : #f2e479,
400 : #efde5c,
500 : #ecd83f,
600 : #ead439,
700 : #e7ce31,
800 : #e4c829,
900 : #dfbf1b,
A100 : #ffffff,
A200 : #fff9e0,
A400 : #fff0ad,
A700 : #ffec93,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

$app-tab-section: (default: white,
light: whitesmoke,
dark: #3a3a3a);

$app-tab-header: (default: whitesmoke,
light: whitesmoke,
dark: #555555);

$app-footer: (default: whitesmoke,
light: whitesmoke,
dark: #555555);

$app-sidevar-side: (default: 0px 0 7px -2px #000,
light: 0px 0 7px -2px #000,
dark: 1px 0 7px -2px #000);
