html,
body {
    font-family: $available-fonts;
    height: 100%;
}

body {
    margin: 0;
}

#main-content-wrapper {
    position: relative;
    height: calc(100% - 116px);
    overflow: hidden;
    overflow-y: auto;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;

    div {
        padding: 0 24px;
    }
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 280px;
}

mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

app-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    #toolbar-options {
        div {
            display: inline-block;
        }

        button {
            font-size: 1.1rem;
            font-weight: 200;

            mat-icon {
                font-size: 1.6rem;
                padding-right: 8px;
            }
        }
    }
}

/**
 * Common tabs
 */
div.tab-group {
    padding: 24px 36px 36px;

    h2 {
        font-weight: 400;
        margin-top: 0;
    }

    mat-tab-group {
        border-radius: 4px;

        div.footer {
            display: flex;
            padding: 16px 32px;

            .fill-space {
                // This fills the remaining space, by using flexbox.
                // Every toolbar row uses a flexbox row layout.
                flex: 1 1 auto;
            }
        }
    }

}

#breadcrumb-wrapper {
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
