html,
body {
    font-family: $available-fonts;
    height: 100%;
}

body {
    margin: 0;
}

#main-content-wrapper {
    position: relative;
    height: calc(100% - 116px);
    overflow: hidden;
    overflow-y: auto;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px 0;
    background-color: $background-footer;

    div {
        padding: 0 24px;
    }
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 250px;
}

app-toolbar {
    width: 100%;

    #main-toolbar {
        position: relative;
        float: right;
        right: 16px;

        div {
            display: inline-block;
        }

        button {
            font-size: 1.1rem;
            font-weight: 200;

            mat-icon {
                font-size: 1.6rem;
                padding-right: 8px;
            }
        }
    }
}
