div[mat-card-avatar] {
    background-color: #aaaaaa;
    transform: scale(1.15);
    margin-top: 4px;

    &.account-header-image {
        background-size: cover;
        background-position: center;
        background-image: url("https://test.atrivity.com/webservice/api/Document/UserImage/2a053ea4-1acc-40b8-ba2b-b99fa6e2e46c");
    }
}

mat-card {
    box-shadow: none !important;
}
