<ul>
    <!-- menu -->
    <li *ngFor="let menu of menuItems" [class.active]="showMenu === menu.path">
        <mat-list-item *ngIf="!menu.submenu" [routerLink]="menu.path">
            <mat-icon mat-list-icon *ngIf="menu.icon">{{ menu.icon }}</mat-icon>
            {{ menu.title }}
        </mat-list-item>

        <mat-list-item *ngIf="menu.submenu && menu.submenu.length > 0" (click)="toggleMenu(menu.title)" class="submenu-arrow">
            <mat-icon mat-list-icon *ngIf="menu.icon">{{ menu.icon }}</mat-icon>
            {{ menu.title }}
        </mat-list-item>

        <!-- submenu -->
        <ul *ngIf="menu.submenu && menu.submenu.length > 0" class="submenu">
            <li *ngFor="let submenu of menu.submenu">
                <mat-list-item [routerLink]="submenu.path">{{ submenu.title }}</mat-list-item>
            </li>
        </ul>
    </li>
</ul>
