// Variables
$available-fonts: Lato,
Roboto,
'Helvetica',
'Arial',
sans-serif;
$app-theme-name: 'default';

/**
 * Overwrite default theming
 */
@import '../colors.scss';

.default-theme {
    mat-sidenav {
        border-right: none !important;
        box-shadow: map-get($app-sidevar-side, $app-theme-name);
    }

    .mat-tooltip {
        font-size: .85rem;
    }

    .mat-tab-label {
        height: 64px !important;
        font-size: 1rem;

        &.mat-tab-label-active {
            font-weight: 600;
        }
    }

    mat-header-cell {
        font-size: 0.9rem !important;
        font-weight: 600 !important;
    }

    .mat-menu-content {
        padding: 0 !important;

        .mat-nav-list {
            padding: 0 !important;
        }
    }
}

// End Overwrite

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$default-app-primary: mat-palette($mat-indigo);
$default-app-accent: mat-palette($mat-pink, A200, A100, A400);

// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat-light-theme($default-app-primary, $default-app-accent);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$default-custom-typography: mat-typography-config($font-family: $available-fonts,
$headline: mat-typography-level(1.33rem, 1.5rem, 700),
$body-1: mat-typography-level(1rem, 1.15rem, 500));


/**
  * Overwrite main styles
  */
.default-theme {

    #main-footer {
        border-top: 1px solid rgba(black, 0.12);
        background-color: map-get($app-footer, $app-theme-name);
    }

    div.tab-group {
        mat-header-row {
            background-color: map-get($app-tab-header, $app-theme-name);
        }

        section {
            padding: 12px 24px 24px;
            border-radius: 6px;

            background-color: map-get($app-tab-section, $app-theme-name);
        }
    }
}
