// Variables
$available-fonts: Lato,
Roboto,
'Helvetica',
'Arial',
sans-serif;
$background-footer: #bbbbbb;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$minimal-dark-primary: mat-palette($mat-light-blue);
$minimal-dark-accent: mat-palette($mat-yellow, A400);

// The warn palette is optional (defaults to red).
$minimal-dark-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$minimal-dark-theme: mat-dark-theme($minimal-dark-primary, $minimal-dark-accent, $minimal-dark-warn);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$minimal-custom-typography: mat-typography-config($font-family: $available-fonts,
$headline: mat-typography-level(1.33rem, 1.5rem, 700),
$body-1: mat-typography-level(1rem, 1.15rem, 500));
