// Variables
$available-fonts: Lato,
Roboto,
'Helvetica',
'Arial',
sans-serif;
$app-theme-name: 'light';

/**
 * Overwrite default theming
 */

/* For use in src/lib/core/theming/_palette.scss */
@import '../colors.scss';

.minimal-light-theme {
    mat-sidenav {
        border-right: none !important;
        box-shadow: map-get($app-sidevar-side, $app-theme-name);
    }
}

// Background palette for light themes.
$mat-light-theme-background: (status-bar: map_get($mat-grey, 300),
app-bar: map_get($mat-grey, 100),
background:white,
hover: rgba(black, 0.04), // TODO(kara): check style with Material Design UX
card: white,
dialog: white,
disabled-button: rgba(black, 0.12),
raised-button: white,
focused-button: $dark-focused,
selected-button: map_get($mat-grey, 300),
selected-disabled-button: map_get($mat-grey, 400),
disabled-button-toggle: map_get($mat-grey, 200),
unselected-chip: map_get($mat-grey, 300),
disabled-list-option: map_get($mat-grey, 200));

.minimal-light-theme {

    // TABS
    .mat-tab-group {
        box-shadow: none !important;

        .mat-tab-header {
            position: sticky;
            top: 0;
            z-index: 9;
            background: whitesmoke;
            box-shadow: 0 2px 12px -8px #000000;
        }
    }

    .mat-tooltip {
        font-size: .85rem;
    }

    .mat-tab-label {
        height: 64px !important;
        font-size: 1rem;

        &.mat-tab-label-active {
            font-weight: 600;
        }
    }

    mat-header-cell {
        font-size: 0.9rem !important;
        font-weight: 600 !important;
    }

    .mat-menu-content {
        padding: 0 !important;

        .mat-nav-list {
            padding: 0 !important;
        }
    }
}

// End Overwrite


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$minimal-light-primary: mat-palette($mat-primary);
$minimal-light-accent: mat-palette($mat-light-accent);

// Create the theme object (a Sass map containing all of the palettes).
$minimal-light-theme: mat-light-theme($minimal-light-primary, $minimal-light-accent);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$minimal-custom-typography: mat-typography-config($font-family: $available-fonts,
$headline: mat-typography-level(1.33rem, 1.5rem, 700),
$body-1: mat-typography-level(1rem, 1.15rem, 500));

/**
  * Overwrite main styles
  */
.minimal-light-theme {

    div.tab-group {
        padding: 0 !important;

        h2 {
            display: none;
        }

        mat-header-row {
            background-color: map-get($app-tab-header, $app-theme-name);
        }

        section {
            background-color: map-get($app-tab-section, $app-theme-name);
        }
    }

    #main-footer {
        border-top: 1px solid rgba(black, 0.12);
        background-color: map-get($app-footer, $app-theme-name);
    }

    mat-accordion {
        &.navigation {
            mat-expansion-panel {
                border-bottom: 1px solid mat-color(mat-palette($mat-grey), default, 0.25);

                mat-expansion-panel-header {
                    &.mat-expanded {
                        background-color: mat-color(mat-palette($mat-primary), default, 0.85);

                        mat-panel-title {
                            color: white;
                        }

                        mat-panel-description {
                            color: white;
                        }
                    }
                }

                .mat-expansion-panel-body {
                    background-color: map-get($app-tab-section, $app-theme-name);

                    mat-list {
                        mat-list-item {
                            &.active {
                                color: #222;
                                background-color: mat-color(mat-palette($mat-grey), default, 0.15);
                            }
                        }
                    }
                }
            }
        }
    }

    // change color of buttons selects (like current language)
    button.mat-menu-item {

        &.selected,
        &.selected:hover {
            color: white;
            background-color: mat-color(mat-palette($mat-primary));
        }
    }
}
