<div class="simple-form-wrapper">
    <h2>A simple form</h2>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Personal data</mat-card-title>
            <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
        </mat-card-header>

        <mat-card-content>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- nam, last name ... -->
                    <div class="mdc-layout-grid__cell">
                        <section>
                            <mat-form-field>
                                <input matInput placeholder="Your name">
                                <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput placeholder="Lastname">
                                <mat-icon matSuffix>face</mat-icon>
                            </mat-form-field>
                        </section>
                    </div>

                    <div class="mdc-layout-grid__cell">
                        <section>
                            <mat-form-field>
                                <input matInput placeholder="address">
                                <mat-icon matSuffix>place</mat-icon>
                            </mat-form-field>
                        </section>
                    </div>
                </div>
            </div>

        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-flat-button color="primary">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>
