<!-- toogle sidenav -->
<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleMenu()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>

<div id="main-toolbar">
    <!-- User Data -->
    <div id="toolbar-languages">
        <app-account-card></app-account-card>
    </div>

    <!-- Languages -->
    <div id="toolbar-languages">
        <app-language-dropdown></app-language-dropdown>
    </div>

    <!-- logout -->
    <div id="toolbar-logout">
        <app-logout-button></app-logout-button>
    </div>
</div>
