<form>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <!-- nam, last name ... -->
            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>General settings</h3>
                    <mat-form-field>
                        <input matInput placeholder="Your name">
                        <mat-icon matSuffix>face</mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Lastname">
                        <mat-icon matSuffix>face</mat-icon>
                    </mat-form-field>
                </section>
            </div>

            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>Scoring system</h3>
                    <mat-form-field>
                        <input matInput placeholder="address">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                </section>
            </div>

            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>Restrictions</h3>
                    <mat-form-field>
                        <input matInput placeholder="address">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                </section>
            </div>

            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>Experience level</h3>
                    <mat-form-field>
                        <input matInput placeholder="address">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                </section>
            </div>

            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>Invitations</h3>
                    <mat-form-field>
                        <input matInput placeholder="address">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                </section>
            </div>

            <div class="mdc-layout-grid__cell">
                <section>
                    <h3>Next game</h3>
                    <mat-form-field>
                        <input matInput placeholder="address">
                        <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                </section>
            </div>
        </div>
    </div>

</form>
