h3 {
    font-weight: 400;
}

section {
    padding: 12px 24px 24px;
    border-radius: 6px;

    mat-form-field {
        width: 100%;
    }
}

div.slide-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

/deep/ .mat-checkbox-layout {
    white-space: inherit !important;
}
